# Dacon Competition Project : Predict Market Sales

## Data field
* store_id : ìƒì ì˜ ê³ ìœ  ì•„ì´ë””
* card_id : ì‚¬ìš©í•œ ì¹´ë“œì˜ ê³ ìœ  ì•„ì´ë””
* card_company : ë¹„ì‹ë³„í™”ëœ ì¹´ë“œ íšŒì‚¬
* transacted_date: ê±°ë˜ ë‚ ì§œ
* transacted_time : ê±°ë˜ ì‹œê°„ (ì‹œ:ë¶„)
* installment_term : í• ë¶€ ê°œì›” ìˆ˜( í¬ì¸íŠ¸ ì‚¬ìš© ì‹œ (60ê°œì›” + ì‹¤ì œí• ë¶€ê°œì›”)ì„ í• ë¶€ê°œì›”ìˆ˜ì— ê¸°ì¬í•œë‹¤. )
* region : ìƒì ì˜ ì§€ì—­
* type_of_business:ìƒì ì˜ ì—…ì¢…
* amount : ê±°ë˜ì•¡(ë‹¨ìœ„ëŠ” ì›ì´ ì•„ë‹™ë‹ˆë‹¤)

## Index
### Step1. Data Load & Resampling
* ì‹œê³„ì—´ ë¶„ì„ì„ ìœ„í•œ date indexë¡œ ë³€í™˜
* ì‹œê°„ ë‹¨ìœ„ë¡œ ë‚˜ë‰˜ì–´ì ¸ ìˆëŠ” ë°ì´í„°ë¥¼ ì¼ ë‹¨ìœ„ë¡œ resampling
* Modelingì„ ìœ„í•´ ì›” ë‹¨ìœ„ë¡œ resampling

In [1]:
# jupyter notebook cell ë„ˆë¹„ ì¡°ì ˆ
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:98% !important; }</style>"))

import warnings
warnings.filterwarnings("ignore")

In [2]:
# ê¸°ë³¸
import itertools
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.externals import joblib 
from sklearn.metrics import make_scorer

# ì‹œê³„ì—´
from fbprophet import Prophet
from datetime import datetime as dt
from statsmodels.tsa.arima_model import ARIMA
from dateutil.relativedelta import relativedelta
from statsmodels.tsa.api import SimpleExpSmoothing, Holt, ExponentialSmoothing

# íšŒê·€ë¶„ì„
from sklearn.svm import SVR
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import KFold, cross_val_score, GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet

# Deep Neural Network
from keras.layers.core import Dense, Activation, Dropout
from keras.layers.recurrent import LSTM
from keras.models import Sequential
import time

# ì„¤ì •
%matplotlib inline
pd.options.display.max_columns = 400
pd.options.display.float_format = '{:.5f}'.format

ModuleNotFoundError: No module named 'fbprophet'

## Evaluate Metric
* MAE (Mean Absolute Error) : ì ˆëŒ“ê°’ ì˜¤ì°¨ì˜ í‰ê· 

$MAE=\frac{1}{ğ‘›}âˆ‘| ğ‘¦ğ‘–âˆ’ğ‘¦Ì‚ğ‘–|$
 
* validationì„ ìœ„í•œ í•¨ìˆ˜ ìƒì„± ë° make scorer

In [3]:
def mae(prediction, correct):
    prediction = np.array(prediction)
    correct = np.array(correct)
    
    difference = correct - prediction
    abs_val = abs(difference)
    
    score = abs_val.mean()
    
    return score

mae_scorer = make_scorer(mae)
mae_scorer

make_scorer(mae)

## Issue
1) ì˜ˆì¸¡í•´ì•¼ í•˜ëŠ” ë²”ìœ„ëŠ” 3ê°œì›”ì¸ë° ë°ì´í„°ëŠ” ì‹œê°„ ë‹¨ìœ„ë¡œ ë‚˜ë‰˜ì–´ì ¸ ìˆìŒ
* month ì£¼ê¸°ë¡œ resampling í›„ forecast ë²”ìœ„ë¥¼ 3ê°œì›”ë¡œ ì§€ì •í•˜ì—¬ í•´ê²°

2) 1967ê°œì˜ store_idê°€ ê°ê°ì˜ trendì™€ seasonalityë¥¼ ê°€ì§€ê³  ìˆìŒ
* ê°™ì€ ì•Œê³ ë¦¬ì¦˜ì—ì„œ ê° store_idë³„ë¡œ parameterë¥¼ ì¡°ì ˆí•œë‹¤.

3) ì˜ˆì¸¡ ë‚ ì§œëŠ” 2019-03~2019-05ë¡œ ë™ì¼í•˜ë‚˜, ì œê³µ ë°ì´í„°ì˜ ë§ˆì§€ë§‰ ë‚ ì§œëŠ” ì°¨ì´ê°€ ìˆë‹¤.
* ë§ˆì§€ë§‰ ë‚ ì§œë¶€í„° 3ê°œì›”ë§Œ ì˜ˆì¸¡í•˜ì—¬ ì œì¶œí•œë‹¤.(ex: store_id 111ì˜ ë§ˆì§€ë§‰ ë‚ ì§œëŠ” 2018-09ì›”ë¡œ ë’¤ 3ê°œì›”ì¸ 2018-10~2018-12ë§Œ ì˜ˆì¸¡í•˜ì—¬ ì œì¶œ)
* ì˜ˆì¸¡ ê¸°ê°„ì´ ê¸¸ì–´ì§ˆìˆ˜ë¡ ì˜¤ì°¨ê°€ í¬ê²Œ ë°œìƒí•˜ì—¬ ë°”ë¡œ ë’¤ 3ê°œì›”ë§Œ ì˜ˆì¸¡í•˜ëŠ” ê²ƒì´ ì •í™•ë„ê°€ ë†’ì•˜ìŒ

# Step1. Data Load

In [4]:
df_train = pd.read_csv('./data/funda_train.csv')
df_sub = pd.read_csv('./data/submission.csv')
df_train['transacted_date'] = pd.to_datetime(df_train['transacted_date'])

print(df_train.shape)

(6556613, 9)

In [39]:
df_train['transacted_date'].dtype

dtype('<M8[ns]')

In [40]:
df_train.head()

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount
0,0,0,b,2016-06-01,13:13,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,1857.142857
1,0,1,h,2016-06-01,18:12,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,857.142857
2,0,2,c,2016-06-01,18:52,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,2000.000000
3,0,3,a,2016-06-01,20:22,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,7857.142857
4,0,4,c,2016-06-02,11:06,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,2000.000000

In [19]:
# ê° ì»¬ëŸ¼ì˜ ìœ ë‹ˆí¬í•œ ê°’ì´ ëª‡ê°œì¸ì§€, ê²°ì¸¡ì¹˜ ê°œìˆ˜, ë°ì´í„°íƒ€ì…, ìœ ë‹ˆí¬í•œ ê°’ 5ê°œ
### ì•„ë˜ forë¬¸ í’€ì–´ì„œ ì¨ë³´ê¸° !
frame_info=[ ( col, len(df_train[col].unique()), df_train[col].isnull().sum(), df_train[col].dtype, df_train[col].unique()[:5] ) for col in df_train.columns]
df_info=pd.DataFrame(frame_info, columns=['name', 'num_of_unique', 'num_of_nan', 'type', 'front5_values'])
df_info

,name,num_of_unique,num_of_nan,type,front5_values
0,store_id,1967,0,int64,"[0, 1, 2, 4, 5]"
1,card_id,3950001,0,int64,"[0, 1, 2, 3, 4]"
2,card_company,8,0,object,"[b, h, c, a, f]"
3,transacted_date,1003,0,datetime64[ns],"[2016-06-01T00:00:00.000000000, 2016-06-02T00:..."
4,transacted_time,1440,0,object,"[13:13, 18:12, 18:52, 20:22, 11:06]"
5,installment_term,34,0,int64,"[0, 2, 3, 60, 4]"
6,region,181,2042766,object,"[nan, ì„œìš¸ ì¢…ë¡œêµ¬, ì¶©ë¶ ì¶©ì£¼ì‹œ, ë¶€ì‚° ë™ë˜êµ¬, ê²½ê¸° í‰íƒì‹œ]"
7,type_of_business,146,3952609,object,"[ê¸°íƒ€ ë¯¸ìš©ì—…, nan, ì˜ë³µ ì•¡ì„¸ì„œë¦¬ ë° ëª¨ì¡° ì¥ì‹ êµ¬ ë„ë§¤ì—…, í•œì‹ ìŒì‹ì ì—…, ë°°..."
8,amount,30551,0,float64,"[1857.142857142857, 857.1428571428571, 2000.0,..."

### ì‹œê³„ì—´ ë¶„ì„ì„ ìœ„í•´ date ì •ë³´ë¥¼ indexë¡œ ë³€í™˜

In [41]:
df_train = df_train.set_index('transacted_date')
df_train.head(3)

,store_id,card_id,card_company,transacted_time,installment_term,region,type_of_business,amount
transacted_date,,,,,,,,
2016-06-01,0,0,b,13:13,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,1857.142857
2016-06-01,0,1,h,18:12,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,857.142857
2016-06-01,0,2,c,18:52,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,2000.000000

### ì‹œê°„ ë‹¨ìœ„ë¡œ ë‚˜ë‰˜ì–´ì ¸ ìˆëŠ” ë°ì´í„°ë¥¼ ì¼ë‹¨ìœ„ë¡œ resampling
* 'store_id', 'region', 'type_of_business' ê¸°ì¡´ê³¼ ë™ì¼
* day_of_week : ê° ìš”ì¼ì„ ë‚˜íƒ€ë‚´ëŠ” ìˆ«ì, ì›”ìš”ì¼ì€ 0 ì¼ìš”ì¼ì€ 6
* business_day : working day ì—¬ë¶€, 1ì´ë©´ working day 0ì´ë©´ ì£¼ë§
* num_of_pay : ì¼ ê²°ì œ ê±´ìˆ˜, 'card_id'ì˜ countë¡œ ìƒì„±
* num_of_revisit : ë‹¨ê³¨ ë°©ë¬¸ íšŸìˆ˜, 'card_id'ì˜ value ì¤‘ countê°€ 2ë³´ë‹¤ í°(3 ì´ìƒ) valueì˜ ê²°ì œ ê±´ìˆ˜
* installment_term : ì¼ ì´ í• ë¶€ ê°œì›” ìˆ˜, ê¸°ì¡´ installment_termì˜ í•©
* amount : ì¼ ë§¤ì¶œ ì•¡, ê¸°ì¡´ amountì˜ í•©

> ì‹œê°„ë³„ ë°ì´í„°ë¥¼ ì¼ë³„ë¡œ ì¹´ìš´íŠ¸í•˜ê³  ì‹¶ì„ ë•Œ
* resample(rule='d').count( ) <br>

> ì‹œê°„ë³„ ë°ì´í„°ë¥¼ ì¼ë³„ë¡œ í•©ê³„ë¥¼ êµ¬í•˜ê³  ì‹¶ì„ ë•Œ
* resample(rule='d').sum( )

In [49]:
df_train[df_train.store_id==0]

,store_id,card_id,card_company,transacted_time,installment_term,region,type_of_business,amount
transacted_date,,,,,,,,
2016-06-01,0,0,b,13:13,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,1857.142857
2016-06-01,0,1,h,18:12,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,857.142857
2016-06-01,0,2,c,18:52,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,2000.000000
2016-06-01,0,3,a,20:22,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,7857.142857
2016-06-02,0,4,c,11:06,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,2000.000000
...,...,...,...,...,...,...,...,...
2019-02-28,0,1476,a,12:17,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,2857.142857
2019-02-28,0,1719,a,16:20,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,6428.571429
2019-02-28,0,1791,b,16:56,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,7142.857143
2019-02-28,0,669,c,17:25,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,2142.857143
2019-02-28,0,530,e,18:59,0,NaN,ê¸°íƒ€ ë¯¸ìš©ì—…,2142.857143

#### resample() í•¨ìˆ˜
    * resample('d') ëŠ” 'ë…„-ì›”-ì¼ ì‹œê°„:ë¶„:ì´ˆ' ì˜ ì‹œê³„ì—´ indexë¥¼ 1ì¼ ë‹¨ìœ„ì˜ ë™ì¼ ê°„ê²©ë³„ë¡œ ë°ì´í„°ë¥¼ ë½‘ìœ¼ë¼ëŠ” ëœ»
#### insert() í•¨ìˆ˜
    * insert(a, b)ëŠ” ë¦¬ìŠ¤íŠ¸ì˜ aë²ˆì§¸ ìœ„ì¹˜ì— bë¥¼ ì‚½ì…í•˜ëŠ” í•¨ìˆ˜ì´ë‹¤.
#### dayofweek
    * dateì •ë³´ë¥¼ indexë¡œ ë³€í™˜í–ˆê¸° ë•Œë¬¸ì— 
    * df_train.index.dayofweekë¥¼ í•˜ë©´ ê° ìš”ì¼ì„ ë‚˜íƒ€ë‚´ëŠ” ìˆ«ì ì¶œë ¥ë¨

In [139]:
df_train.index.dayofweek

Int64Index([2, 2, 2, 2, 3, 3, 3, 3, 3, 3,
            ...
            3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
           dtype='int64', name='transacted_date', length=6556613)

In [69]:
df_train[df_train.store_id==0]['card_id'].resample(rule='d').count().rename('num_of_pay')

transacted_date
2016-06-01    4
2016-06-02    7
2016-06-03    3
2016-06-04    7
2016-06-05    3
             ..
2019-02-24    6
2019-02-25    6
2019-02-26    0
2019-02-27    5
2019-02-28    6
Freq: D, Name: num_of_pay, Length: 1003, dtype: int64

In [90]:
df_train[df_train.store_id==0].card_id.value_counts().reset_index().query("card_id >2")["index"].values[:10]

array([ 32, 855,  44, 669, 898, 138, 480, 560, 346, 595])

In [95]:
df_train[df_train.card_id.isin(df_train[df_train.store_id==0].card_id.value_counts().reset_index().query("card_id >2")["index"].values)].card_id

transacted_date
2016-06-01       0
2016-06-01       1
2016-06-01       2
2016-06-01       3
2016-06-02       4
              ...
2018-04-28    1248
2017-10-04    1252
2017-12-22     117
2018-03-12     488
2017-02-11     707
Name: card_id, Length: 2877, dtype: int64

In [98]:
df_train[df_train.store_id==0][['installment_term','amount']].resample(rule='d').sum()

                 installment_term        amount
transacted_date
2016-06-01                      0  12571.428571
2016-06-02                      0  40571.428571
2016-06-03                      0  18142.857143
2016-06-04                      0  31714.285714
2016-06-05                      0  10428.571429
...                           ...           ...
2019-02-24                      0  38571.428571
2019-02-25                      3  39714.285714
2019-02-26                      0      0.000000
2019-02-27                      0   9857.142857
2019-02-28                      0  22714.285714

[1003 rows x 2 columns]

In [122]:
df_train[df_train.store_id==0].type_of_business

transacted_date
2016-06-01    ê¸°íƒ€ ë¯¸ìš©ì—…
2016-06-01    ê¸°íƒ€ ë¯¸ìš©ì—…
2016-06-01    ê¸°íƒ€ ë¯¸ìš©ì—…
2016-06-01    ê¸°íƒ€ ë¯¸ìš©ì—…
2016-06-02    ê¸°íƒ€ ë¯¸ìš©ì—…
               ...
2019-02-28    ê¸°íƒ€ ë¯¸ìš©ì—…
2019-02-28    ê¸°íƒ€ ë¯¸ìš©ì—…
2019-02-28    ê¸°íƒ€ ë¯¸ìš©ì—…
2019-02-28    ê¸°íƒ€ ë¯¸ìš©ì—…
2019-02-28    ê¸°íƒ€ ë¯¸ìš©ì—…
Name: type_of_business, Length: 4481, dtype: object

In [132]:
pd.concat([pd.DataFrame(),df_train[df_train.store_id==0].type_of_business],axis=1)

           type_of_business
2016-06-01           ê¸°íƒ€ ë¯¸ìš©ì—…
2016-06-01           ê¸°íƒ€ ë¯¸ìš©ì—…
2016-06-01           ê¸°íƒ€ ë¯¸ìš©ì—…
2016-06-01           ê¸°íƒ€ ë¯¸ìš©ì—…
2016-06-02           ê¸°íƒ€ ë¯¸ìš©ì—…
...                     ...
2019-02-28           ê¸°íƒ€ ë¯¸ìš©ì—…
2019-02-28           ê¸°íƒ€ ë¯¸ìš©ì—…
2019-02-28           ê¸°íƒ€ ë¯¸ìš©ì—…
2019-02-28           ê¸°íƒ€ ë¯¸ìš©ì—…
2019-02-28           ê¸°íƒ€ ë¯¸ìš©ì—…

[4481 rows x 1 columns]

In [144]:
def resample_day(train_df):
    df_day = pd.DataFrame()
    for i in train_df.store_id.unique():
        df_num = train_df[train_df.store_id == i]  # store_idë³„ ë°ì´í„°

        count_cols = df_num['card_id'].resample(rule='d').count().rename('num_of_pay')  # ì¼ë³„ë¡œ card_idì˜ ê°œìˆ˜ë¥¼ ì¹´ìš´íŒ…í•´ì„œ 'ì¼ ê±°ë˜ íšŸìˆ˜' í™•ì¸
        # 'card_id' value countê°€ 2ë³´ë‹¤ í¬ë©´ ë‹¨ê³¨ì¸ ê²ƒìœ¼ë¡œ íŒë‹¨í•˜ê³  ë‹¨ê³¨ ë°©ë¬¸ íšŸìˆ˜ í™•ì¸
        revisit_idx = df_num.card_id.value_counts().reset_index().query("card_id > 2")["index"].values   # value countê°€ 2ë³´ë‹¤ í° card_idë¥¼ ê°€ì ¸ì˜´.
        revisit_ct = df_num[df_num.card_id.isin(revisit_idx)].card_id.resample(rule='d').count().rename('num_of_revisit')    # ë‹¨ê³¨ ë°©ë¬¸íšŸìˆ˜ 
        sum_cols = df_num[['installment_term', 'amount']].resample(rule='d').sum() # í• ë¶€ ê°œì›”ìˆ˜ì™€ ë§¤ì¶œì•¡ì€ ì¼ ë‹¨ìœ„ë¡œ í•©

        df_num_day = pd.concat([count_cols, revisit_ct, sum_cols], axis=1)

        df_num_day.insert(0, 'store_id', i)   # ì²«ë²ˆì§¸ ì»¬ëŸ¼ì— store_idë¥¼ ì‚½ì…
        df_num_day.insert(4, 'region', df_num[df_num.store_id == i].region.unique()[0])    # ë‹¤ì„¯ë²ˆì§¸ ì»¬ëŸ¼ì— regionì„ ì‚½ì…
        df_num_day.insert(5, 'type_of_business', df_num[df_num.store_id == i].type_of_business.unique()[0])  # ì—¬ì„¯ë²ˆì§¸ ì»¬ëŸ¼ì— type_of_business ì‚½ì…

        df_day = pd.concat([df_day, df_num_day], axis=0)   # ë°ì´í„°í”„ë ˆì„ concat
        
    df_day.insert(1, 'day_of_week', df_day.index.dayofweek)
    df_day.insert(2, 'business_day', df_day.day_of_week.replace({0:1, 2:1, 3:1, 4:1, 5:0, 6:0}).values)
    df_day.num_of_revisit.fillna(0, inplace=True)
    
    return df_day

In [145]:
%%time
df_day = resample_day(df_train)

CPU times: user 2min 35s, sys: 1min 24s, total: 3min 59s
Wall time: 4min 5s

In [146]:
df_day.head()

NameError: name 'df_day' is not defined

In [ ]:
resample_day(df_train)

In [ ]:
df_day.isnull().sum()

In [ ]:
df_day.to_csv('./data/funda_train_day.csv')

In [ ]:
df_day = pd.read_csv('./data/funda_train_day.csv')
df_day['transacted_date'] = pd.to_datetime(df_day['transacted_date'])
df_day = df_day.set_index('transacted_date')

ê° columnê°„ ìƒê´€ ê´€ê³„ í™•ì¸

### Modelingì„ ìœ„í•´ Month ë‹¨ìœ„ë¡œ resampling

In [ ]:
df_day.head(3)

In [ ]:
def resample_month(frame_day):
    sum_cols = ['num_of_pay', 'num_of_revisit', 'installment_term', 'amount']

    df_monthly = pd.DataFrame()

    for i in frame_day.store_id.unique():
        df_set = frame_day[frame_day.store_id == i]
        
        # nanê°’ì´ ë°œìƒí•˜ëŠ” ê²½ìš°ë¥¼ ì—†ì• ê¸° ìœ„í•´ ì´ì „, ì´í›„ ë‹¬ì— ëŒ€í•œ ì •ë³´ë¥¼ ì¶”ê°€í•œ í›„ ì œê±°
        prev_date = pd.date_range(start=(df_set.index[0] - relativedelta(months=1)), end=(df_set.index[0] - relativedelta(months=1)))
        add_date = pd.date_range(start=(df_set.index[-1] + relativedelta(months=1)), end=(df_set.index[-1] + relativedelta(months=1)))
        df_set = pd.concat([pd.DataFrame(index=prev_date), df_set, pd.DataFrame(index=add_date)], axis=0)

        df_set.loc[dt.strftime(df_set.index[0], '%Y-%m'), :] = 1
        df_set.loc[dt.strftime(df_set.index[-1], '%Y-%m'), :] = 1

        tot_day = df_set[df_set.amount != 0].day_of_week.resample(rule='m').count().rename('real_tot_day')
        business = df_set[df_set.amount != 0].business_day.resample(rule='m').sum().rename('real_business_day')

        business = business.drop([business.index[0], business.index[-1]], axis=0)
        tot_day = tot_day.drop([tot_day.index[0], tot_day.index[-1]], axis=0)
        df_set = df_set.drop([df_set.index[0], df_set.index[-1]], axis=0)

        df = pd.concat([tot_day, business, df_set[sum_cols].resample(rule='m').sum()], axis=1)

        df.insert(0, 'store_id', i)
        df.insert(6, 'region', df_set.region.values[0])
        df.insert(7, 'type_of_business', df_set.type_of_business.values[0])

        df_monthly = pd.concat([df_monthly, df], axis=0)
   
    return df_monthly